<div class="container-fluid main-container">
    <div class="row">
        <div class="col">


          
            
            <div class="contentBugs">
                <h2>Bug Name</h2>
               <p><%= testbug.bugName %></p>
               <h2>Creator</h2>
               <p><%= testuser.fname %> <%= testuser.fname %></p>
               <h2>Description</h2>
               <p><%= testbug.bugDes %></p>
               <h2>Project</h2>
               <p><%= testbug.bugProject %></p>
               <h2>Code</h2>
               <p><%= testbug.bugCode %></p>
               <h2>Date Created</h2>
               <p><%= testbug.dateBugCreated%></p>
            </div>
        </div>
    </div>
</div>