<div class="container-fluid main-container">
    <div class="row">
        <div class="col">


          
            
            <div class="contentBugs">
                <div class="info-style">
                <h2>Bug Name</h2>
               <p><%= bug.bugName %></p>
               <h2>Creator</h2>
               <p><%= user.fname %> <%= user.fname %></p>
               <h2>Description</h2>
               <p><%= bug.bugDes %></p>
               <h2>Project</h2>
               <p><%= bug.bugProject %></p>
               <h2>Code</h2>
               <p><%= bug.bugCode %></p>
               <h2>Date Created</h2>
               <p><%= bug.dateBugCreated.toLocaleDateString('en-us', {year: 'numeric', month: 'long', day: 'numeric'}) %></p>
               </div>
            </div>
        </div>
    </div>
</div>