<div class="main-container">

    <div class="side-bar-nav">
        
      <div class="nav-links">
        <div class="nav-link-container">
          <img src="/navbaricons/person.svg" alt="">
          <a href="http://localhost:3000/user/profile/<%= currentUser.id %>"> Profile</a>
        </div>
        <% if(currentUser.role === 'Admin' || currentUser.role === 'Super-Admin'  ) { %>
        <div class="nav-link-container">
          <img src="/navbaricons/users.svg" alt="">
          <a href="http://localhost:3000/user/">View Users</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/createUsers.svg" alt="">
          <a href="http://localhost:3000/user/create/<%= currentUser.id %>">Create Users</a>
        </div>
        <% }%>
        <div class="nav-link-container">
          <img src="/navbaricons/viewBugs.svg" alt="">
          <a href="http://localhost:3000/bug/">View Bugs</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/createBugs.svg" alt="">
          <a href="http://localhost:3000/bug/create/<%= currentUser.id %>">Create Bugs</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/logout.svg" alt="">
          <a href="http://localhost:3000/user/logout">Log Out</a>
        </div>
      </div>
    </div>

<div class="container-fluid content-container">
    <div class="row">
        
        <div class="col">


          
          
            <div class="form-Conatiner">
                <form action="http://localhost:3000/bug/update/<%= bug.id %>?_method=PUT" method="POST">
                    <label class="label-styles" for="bugName">Name</label>
                    <input class="custom-input custom-input-padding" type="text" name="bugName" required placeholder="Login bug" value="<%=bug.bugName%>" maxlength="30">
                    <label class="label-styles" for="bugDescription">Description</label>
                    <textarea class="custom-input custom-input-padding" type="text" name="bugDes" ro required placeholder="Bug Description" rows="4" cols="50" maxlength="250"><%=bug.bugDes%></textarea>
                    <label class="label-styles" for="bugProject">Project</label>
                    <input class="custom-input custom-input-padding" type="text" name="bugProject" required placeholder="Bug Tracker" value="<%=bug.bugProject%>" maxlength="30">
                    <label class="label-styles" for="bugCode">Code</label>
                    <input class="custom-input custom-input-padding" type="text" name="bugCode" required placeholder="Kotlin" value="<%=bug.bugCode%>" maxlength="30">
                    <label class="label-styles" for="bugImportance">Bug Level of Importance</label>
                    <select class="custom-input custom-input-padding" name="bugImportance" id="bugImportance">
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high">high</option>
                    </select>
                    <label class="label-styles" for="bugPrivate">Bug viewability</label>
                    <select class="custom-input custom-input-padding" name="bugPrivate" id="bugPrivate">
                        <option value="public" >Public</option>
                        <option value="private" >Private</option>
                    </select>
                    <button class="button-styles" type="submit">Submit</button>
                    <button class="button-styles button-spacing"><a href="http://localhost:3000/bug">Cancel</a></button>
                </form>
            </div>















        </div>
    </div>
</div>
</div>



