<div class="container-fluid main-container">
    <div class="row">
        
        <div class="col">


          
          
            <div class="contentBugs">
                

            <form action="http://localhost:3000/bug/update/<%= bug.id %>?_method=PUT" method="POST">
                <label for="">Name</label>
                <input class="custom-input" type="text" name="bugName" value="<%=bug.bugName%>">
                <label for="">Description</label>
                <input class="custom-input" type="text" name="bugDes" value="<%=bug.bugDes%>">
                <label for="">Project</label>
                <input class="custom-input" type="text" name="bugProject" value="<%=bug.bugProject%>">
                <label for="">Code</label>
                <input class="custom-input" type="text" name="bugCode" value="<%=bug.bugCode%>">
                <label for="bugImportance">Bug Level of Importance:</label>
                    <select class="custom-input" name="bugImportance" id="bugImportance">
                        <option value="low">low</option>
                        <option value="medium">medium</option>
                        <option value="high">high</option>
                    </select>
                <button type="submit">Submit</button>
            </form>
                
            </div>















        </div>
    </div>
</div>