
<div class="container-fluid main-container">
    <div class="row">
<div class="col">              
    <div class="contentBugs">
        <h2>Name</h2>
       <p><%= user.fname %> <%= user.lname %></p>
       <h2>Email</h2>
       <p><%= user.email %></p>
       <h2>Role</h2>
       <p><%= user.role %></p>
       <h2>Date</h2>
       <p><%= user.dateCreated %></p>
    </div>
</div>

</div>
</div>