<div class="container-fluid main-container">
    <div class="row">
        
        <div class="col">


          
          
            <div class="contentBugs">
                

                <form action="http://localhost:3000/user/update/<%= updateUser.id %>?_method=PUT" method="POST">
                    <label for="firstname">First Name</label>
                    <input class="custom-input" type="text" name="fname" value="<%= updateUser.fname%>">
                    <label for="">Last Name</label>
                    <input class="custom-input" type="text" name="lname" value="<%= updateUser.lname%>">
                    <label for="">Email</label>
                    <input class="custom-input" type="email" name="email" value="<%= updateUser.email%>">
                    <label for="">Password</label>
                    <input class="custom-input" type="password" name="password" >
                    <label  for="">PasswordConfirm</label>
                    <input class="custom-input" type="password" name="passwordConfirm" value="<%= updateUser.passwordConfirm%>">
                    <label for="role">Role</label>
                    <select class="custom-input" name="role" id="role">
                        <option value="admin">admin</option>
                        <option value="user">user</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>
                
            </div>















        </div>
    </div>
</div>