<div class="container-fluid main-container">
    <div class="row">
        
        <div class="col">


          
          
            <div class="form-Conatiner">
                

                <form action="http://localhost:3000/user/update/<%= updateUser.id %>?_method=PUT" method="POST">
                    <label for="firstname">First Name</label>
                    <input class="custom-input" type="text" name="fname" value="<%= updateUser.fname%>">
                    <label for="">Last Name</label>
                    <input class="custom-input" type="text" name="lname" value="<%= updateUser.lname%>">
                    <label for="">Email</label>
                    <input class="custom-input" type="email" name="email" value="<%= updateUser.email%>">
                    <p style="color: red;">*Leave both password fields empty if you dont want to change the password.</p>
                    <label for="">Password</label>
                    <input class="custom-input" type="text" name="password" >
                    <label  for="">PasswordConfirm</label>
                    <input class="custom-input" type="text" name="passwordConfirm">
                    <label for="role">Role</label>
                    <select class="custom-input" name="role" id="role">
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                    <label for="title">Title</label>
                    <input class="custom-input" type="text" name="title" value="<%= updateUser.title%>">
                    <button type="submit">Submit</button>
                </form>
                
            </div>















        </div>
    </div>
</div>