<div class="container-fluid main-container">
    <div class="row">
<div class="col">


                  
    <div class="contentFilters">
      <form action="http://localhost:3000/user/filter/" id="bugForm">
      <label for="filter"><img src="/filter.svg" alt=""></label>
      <select class="custom-filter" id="filter" name="filterlist">
        <option value="allUsers">All Users</option>
        <option value="users">Users</option>
        <option value="admins">Admins</option>
      </select>
      <label for="sort"><img src="/sort.svg" alt=""></label>
      <select class="custom-filter" id="sort" name="sortlist">
        <option value="none">None</option>
        <option value="name">Name</option>
        <option value="date">Date</option>
        <option value="role">Role</option>
      </select>
        <input class="button-styles" type="submit">
      </form>

        
    </div>
    <div class="bugsContainer">
        <h1>Users</h1>
        <% if(typeof message !== 'undefined'){ %>
          <div class="error-message-form"><%= message %></div> 
        <% } %>
        <% users.forEach(user => { %>
        <div class="card-styles">
           <h3 class="card-heading"><%= user.fname %></h3>
           <b><p><i class="bi bi-envelope"></i> <%= user.email %></p></b>
           <p class="badge-styles"><i class="bi bi-person"> </i><%= user.role %></p>
           <h3><i class="bi bi-calendar3"> </i>  <%= user.dateCreated.toLocaleDateString('en-us', {year: 'numeric', month: 'long', day: 'numeric'}) %></h3>
           <% if(user.id !== currentUser.id){ %>
           <div class="user-buttons">
           <button class="button-styles"><a href="http://localhost:3000/user/update/<%=user._id%>"><i class="bi bi-pencil"></i> Edit</a></button>
           <form action="http://localhost:3000/user/delete/<%=user._id%>?_method=Delete" method="post">
            <button class="button-styles delete-button button-spacing" type="submit"><i class="bi bi-trash"></i> Delete</button>
           </form>
           </div>
           <% } %>
        </div>
         <% }) %>
    </div>

    </div>

    </div>
    </div>