<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/login.css">
    </head>
    <body>
        <div class="container">
            <nav><h1>nav bar</h1>
            <h2>user Logged in</h2></nav>
        <div class="container-content">
        <div class="navbar">
            <ul>
                <a href="http://localhost:3000/bug/"><li><h2>View Bugs</h2></li></a>
                <li><h2><a href="http://localhost:3000/bug/Create/62a327bbc2b8af1251864515">Create Bugs</a></h2></li>
                <li>profile</li>
                <li>log out</li>
            </ul>
        </div>
        <div class="mainContent">
            <div class="createBugForm">
                <form action="http://localhost:3000/bug/<%= testbug.id %>?_method=PUT" method="POST">
                    <label for="">Name</label>
                    <input type="text" name="bugName" value="<%=testbug.bugName%>">
                    <label for="">Description</label>
                    <input type="text" name="bugDes" value="<%=testbug.bugDes%>">
                    <label for="">Project</label>
                    <input type="text" name="bugProject" value="<%=testbug.bugProject%>">
                    <label for="">Code</label>
                    <input type="text" name="bugCode" value="<%=testbug.bugCode%>">
                    <label for="">Importance</label>
                    <input type="number" name="bugImportance" value="<%=testbug.bugImportance%>">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
        <footer><h3>Brendon O'Neill</h3></div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>