<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="/login.css">
    </head>
    <body>
      <% const admin = true %>
        <nav class="navbar navbar-light">
            <div class="container-fluid">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
                <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
              </svg><h1>Bug Tracker</h1>
              <span class="navbar-brand mb-0 h1"><%= currentUser.name %> Logged In </span>
            </div>
          </nav>

        <div class="container-fluid main-container">
            <div class="row">
                <div class="col-2 nav-col">

                  <div class="profile">
                    <div class="nav-link-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg>
                      <a href="http://localhost:3000/user/profile/<%= currentUser.id %>"> Profile</a>
                    </div>
                  </div>

                  <div class="nav-links">
                    <% if(admin === true) { %>
                    <div class="nav-link-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-lines-fill" viewBox="0 0 16 16"> 
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                      </svg>
                      <a href="http://localhost:3000/user/"> View Users</a>
                    </div>
                    <div class="nav-link-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                      </svg>
                      <a href="http://localhost:3000/user/">Create Users</a>
                    </div>
                    <% }%>
                    <div class="nav-link-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-card-list" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                      </svg>
                      <a href="http://localhost:3000/bug/">View Bugs</a>
                    </div>
                    <div class="nav-link-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                      </svg>
                      <a href="http://localhost:3000/bug/Create/<%= currentUser.id %>">Create Bugs</a>
                    </div>
                    <div class="nav-link-container">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                      <a href="http://localhost:3000/user/logout">Log Out</a>
                    </div>
                  </div>
                </div>
                <div class="col-9 bug-col">


                  
                    <div class="contentFilters">
                      <form action="http://localhost:3000/bug/filter/" id="bugForm">
                      <label for="filter">Filter:</label>
                      <select id="filter" name="filterlist">
                        <option value="userbug">User Bugs</option>
                        <option value="public">Public Bugs</option>
                        <option value="allbugs">All Bugs</option>
                      </select>
                      <label for="sort">Sort:</label>
                      <select id="sort" name="sortlist">
                        <option value="volvo">none</option>
                        <option value="saab">Importance</option>
                        <option value="opel">BuGS Name</option>
                        <option value="opel">Creator</option>
                      </select>
                      
                        <input type="submit">
                      </form>

                         <!--<h2>Filter</h2>
                        <a href="http://localhost:3000/bug/filtered/62a3279d0e5fb86b4c166da1">Users Bugs</a>
                        <a href="http://localhost:3000/bug/filtered/public">public bugs</a>
                        <a href="http://localhost:3000/bug/">all bugs</a>-->
                    </div>
                    <div class="contentBugs">
                        <h1>Information on bugs</h1>
                        <% bugs.forEach(bug => { %>
                        <div class="bug">
                           <u><h3><%= bug.bugName %></h3></u>
                           <h4><i class="bi bi-person"></i> <%= bug.bugUserId.name %></h4>
                           <b><p><%= bug.dateBugCreated %></p></b>
                           <p class="bug-styles"><i class="bi bi-folder"></i> <%= bug.bugProject %></p>
                           <p class="bug-styles"><i class="bi bi-code"></i> <%= bug.bugCode %></p>
                           
                           <div>
                           <p class="bug-styles-comm"><i class="bi bi-exclamation-lg"></i> <%= bug.bugImportance %></p>
                           <p class="bug-styles-comm"><i class="bi bi-chat"></i> <%= bug.Comments.length %></p>
                          </div>
                           <div>
                           <button class="custom-button"><a href="http://localhost:3000/bug/bug-details/<%=bug._id%>"><i class="bi bi-info"></i> More Detail</a></button>
                           <!--Needs to be changed to user logined in-->
                           <% if(bug.bugUserId.id === currentUser.id) { %>
                           <button class="custom-button"><i class="bi bi-pencil"></i> <a href="http://localhost:3000/bug/Update/<%=bug._id%>">Edit</a></button>
                           <form action="http://localhost:3000/bug/<%=bug._id%>?_method=Delete" method="post">
                            <button class="custom-button" type="submit"><i class="bi bi-trash"></i> Delete</button>
                           </form>
                           <% }%>
                          </div>
                        </div>
                         <% }) %>
                    </div>
  














                </div>
            </div>
        </div>

       




          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="" async defer></script>
    </body>
</html>