<div class="main-container">

    <div class="side-bar-nav">
        
      <div class="nav-links">
        <div class="nav-link-container">
          <img src="/navbaricons/person.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/profile/<%= currentUser.id %>"> Profile</a>
        </div>
        <% if(currentUser.role === 'Admin' || currentUser.role === 'Super-Admin'  ) { %>
        <div class="nav-link-container">
          <img src="/navbaricons/users.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/">View Users</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/createUsers.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/create/<%= currentUser.id %>">Create Users</a>
        </div>
        <% }%>
        <div class="nav-link-container">
          <img src="/navbaricons/viewBugs.svg" alt="">
          <a href="https://bug-tracker.onrender.com/bug/">View Bugs</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/createBugs.svg" alt="">
          <a href="https://bug-tracker.onrender.com/bug/create/<%= currentUser.id %>">Create Bugs</a>
        </div>
        <div class="nav-link-container">
          <img src="/navbaricons/logout.svg" alt="">
          <a href="https://bug-tracker.onrender.com/user/logout">Log Out</a>
        </div>
      </div>
    </div>
<div class="container-fluid content-container">
    <div class="row">
<div class="col">              
    <div class="card-container scroll-none">
        <div class="profile-style">
        <div class="info-style-header">
            <h1><%= user.fname %> <%= user.lname %></h1>
        </div>
        <div class="info-style-body">
       <b><P><i class="bi bi-person-circle"> </i><%= user.title %></P>
       <p><p><i class="bi bi-envelope"></i> <%= user.email %></p>
       
       <p class=""> <i class="bi bi-person"> </i> <%= user.role %></p>
       <p class=""> <i class="bi bi-calendar3"> </i> <%= user.dateCreated.toLocaleDateString('en-us', {year: 'numeric', month: 'long', day: 'numeric'})  %></p></b>
       </div>
       
    </div>
    </div>
</div>

</div>
</div>

</div>